body{
    font-family: sans-serif;
    background: #f4f4f4;
}
.disable{
    display: none;
}

button.searchButton {
    width: 100%;
}

label.text-center {
    line-height: 30px;
}

.row.card {
    width: 90%;
    margin: 25px auto;
    background: white;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.row.mainInfo {
    padding: 15px;
    border-bottom: 1px dotted #286090;
    display: flex;
}

.row.mainDetails {
    padding: 15px 30px;
    text-align: left;
}

span.total {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 25px;
}
span.info{
    padding: 0px 0px 35px;
    display: block;
}
.alert{
    position: fixed;
    right: 0;
    visibility: hidden;
}
